@use "sass:color";
@use '../../variables' as *;


.clear-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 15px;
	background-color: #007bff;
	color: $color_2;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.clear-btn .material-icons {
    font-size: 24px;
}