@use "sass:color";
@use '../../variables' as *;


.chat-list {
  flex: 1;
  overflow-y: auto;
  margin: 0 0 15px;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 13px 25px;
  position: relative;
  transition: background-color 0.3s ease;
  gap: 15px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 1px;
    background-color: color.adjust($background-color_2, $lightness: 10%);
    transform: translate(-50%, 0);
  }

  &:hover {
    background-color: color.adjust($background-color_2, $lightness: 10%);
    margin-top: -1px;
    padding-top: 14px;
  }

  &:last-child::after {
    display: none;
  }

  .MuiSvgIcon-root {
    font-size: 50px;
    color: $color_1;
  }

  .chat-info {
    flex: 1;

    .chat-name {
      font-size: 16px;
      font-weight: bold;
      color: $color_2;
    }

    .chat-last-message {
      font-size: 14px;
      color: $color_4;
      margin-top: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .chat-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    color: $color_5;
    gap: 5px; 

    .status-time {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .MuiSvgIcon-root {
      margin-right: 8px;
      font-size: 15px;
      color: $background-color_6;
    }

    .message-time {
      font-size: 13px;
      color: #999;
    }

    .message-count {
      background-color: $background-color_6;
      border-radius: 50%;
      padding: 5px 8px;
      font-size: 12px;
      color: white;
      text-align: center;
      align-self: flex-end;
    }
  }
}
