@use './variables' as *;

body {
  font-family: $font-family_1;
  background-color: $background-color_1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $color_1;
}

.chat-container {
  width: 100%;
  max-width: 400px;
  background-color: $background-color_2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 99vh;

  @media screen and (max-width: 480px) {
    max-width: 100%;
  }
}

.messages-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px;
}