@use "sass:color";
@use '../../variables' as *;


.message {
    display: flex;
    align-items: flex-end;
    gap: 10px;

    opacity: 1;
    transform: translateX(0);
    transition: none;

    &.new-message {
        opacity: 0;
        transform: translateY(100%);
        animation: slide-in 0.5s ease-out forwards;
    }

    .message-content {
        position: relative;
        width: auto;
        padding: 0 10px;
        border-radius: 10px;
        max-width: 75%;
        background-color: $background-color_5;
        color: $color_1;
        z-index: 1;
        word-wrap: break-word;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 25px;
            height: 20px;
            border-radius: 70% 0 90% 0;
            z-index: -1;
            background-color: inherit;
        }

        p {
            margin: 0.8em 0 0 0;
        }

        img {
            padding-top: 10px;
        }
    }

    .message-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        color: $color_4;
        gap: 8px;
        text-align: right;
		margin: 0.5em 0 0.5em calc(0.8em + 30%);

        .message-time {
            color: $color_4;
        }
    }

    &.send {
        justify-content: flex-start;

        .message-content {
            background-color: $background-color_5;
            margin-left: 10px;

            &:before {
                left: -7px;
                transform: matrix(0.3, -0.7, 0.6, 0.1, 0, 0) skewX(8deg) scaleY(-1.0) rotate(10deg);
            }
        }
    }

    &.you {
        justify-content: flex-end;

        .message-content {
            background-color: $background-color_6;
            color: $color_2;
            margin-right: 10px;

            &:before {
                right: -7px;
                transform: matrix(0.3, 0.8, -0.6, 0.1, 0, 0) skewX(-8deg) scaleY(1.0) rotate(-10deg);
            }
        }

        .message-info {
            color: $color_2;

            .message-time {
                color: $color_2;
            }

            .MuiSvgIcon-root {
                font-size: 15px;
                color: $color_1;
            }
        }
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.message-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    color: $color_3;
}
